{{ if eq .osid "linux-ubuntu" -}}

#!/bin/bash
set -euo pipefail

# install dependencies
sudo apt update
sudo apt install -y --no-upgrade build-essential cmake bash-completion

# install tools with apt
sudo apt install -y --no-upgrade curl git tmux ripgrep jq rustup tree kubectx net-tools xdg-utils wslu

# install tools with snap (on separate lines to avoid failures if one is already installed)
sudo snap install jqp
sudo snap install yq
sudo snap install go --classic
sudo snap install kubectl --classic

# setup rust
rustup default stable

# install tools with go
go install github.com/junegunn/fzf@latest

{{ end -}}
