[".vim/autoload/pathogen.vim"]
    type = "archive-file"
    url = "https://github.com/tpope/vim-pathogen/archive/refs/tags/v2.4.zip"
    exact = true
    stripComponents = 1
    path = "autoload/pathogen.vim"
    checksum.sha256 = "99f36aad26c0b2193bfc7ea7281f5446df797f40430c72409ac93a97f6a115f7"

[".vim/bundle/nerdtree"]
    type = "archive"
    url = "https://github.com/preservim/nerdtree/archive/refs/tags/7.1.3.zip"
    exact = true
    stripComponents = 1
    checksum.sha256 = "50efbe01a9cff44e0cdbe7d257f1094f424914451b6fd215c5803266aad0f199"

[".tmux/plugins/tpm"]
    # Add tmux plugins to ~/.tmux.conf
    type = "archive"
    url = "https://github.com/tmux-plugins/tpm/archive/refs/tags/v3.1.0.zip"
    exact = true
    stripComponents = 1
    checksum.sha256 = "f92bf5db248417e6f62df1debc0dfe4f071f36f9c66bdf11c37c9c5712b06915"

[".nvm"]
    type = "archive"
    url = "https://github.com/nvm-sh/nvm/archive/refs/tags/v0.40.1.zip"
    exact = true
    stripComponents = 1
    checksum.sha256 = "9b50d624570504a18f434e2300030e30af6290d5a79317f6dddc6e75ace9e52e"

{{- if eq .osid "linux-ubuntu" }}

[".local/bin/age"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "FiloSottile/age" (printf "age-*-%s-%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
    executable = true
    path = "age/age"

[".local/bin/age-keygen"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "FiloSottile/age" (printf "age-*-%s-%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
    executable = true
    path = "age/age-keygen"

[".local/bin/glow"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "charmbracelet/glow" "glow_*_Linux_x86_64.tar.gz" | quote }}
    executable = true
    stripComponents = 1
    path = "glow"

[".local/bin/uv"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "astral-sh/uv" "uv-x86_64-unknown-linux-gnu.tar.gz" | quote }}
    refreshPeriod = "72h"
    executable = true
    path = "uv-x86_64-unknown-linux-gnu/uv"

[".local/bin/uvx"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "astral-sh/uv" "uv-x86_64-unknown-linux-gnu.tar.gz" | quote }}
    refreshPeriod = "72h"
    executable = true
    path = "uv-x86_64-unknown-linux-gnu/uvx"

[".local/bin/gh"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "cli/cli" (printf "gh_*_%s_%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
    executable = true
    stripComponents = 1
    path = "bin/gh"

{{- end }}
