{{- $email := promptStringOnce . "email" "Which email address would you like to configure for git" -}}
{{- $connectformats := list "ssh" "https" -}}
{{- $githubconnectformat := promptChoiceOnce . "gpgformat" "How will you connect to github.com" $connectformats -}}
{{- $gpgformats := list "ssh" "gpg" -}}
{{- $gpgformat := promptChoiceOnce . "gpgformat" "How will you sign commits" $gpgformats -}}
{{- $sk := promptStringOnce . "signingkey" "Which signingkey would you like to sign commits" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

[data]
    email = {{ $email | quote }}
    signingkey = {{ $sk | quote }}
    gpgformat = {{ $gpgformat | quote }}
    githubconnectformat = {{ $githubconnectformat | quote }}
    osid = {{ $osID | quote }}
