[init]
    defaultBranch = main

[pull]
    rebase = false

[core]
    # likely overridden by delta
    pager = less -F -X
{{- if .signingkey }}

[commit]
    gpgsign = true

[gpg]
    program = gpg
{{- end }}

[user]
    name = Nik Trenchi
    email = {{ .email | quote }}
{{- if .signingkey }}
    signingkey = {{ .signingkey | quote }}
{{- end }}

[include]
{{- if lookPath "delta" }}
    path = ~/.gitconfig.d/delta.gitconfig
{{- end }}
{{- if not (hasSuffix "@gmail.com" .email) }}
    path = ~/.gitconfig.d/work.gitconfig
{{- end }}

