# Apps I have installed via Snap (e.g. golang) have a slower startup time, just
# for the first time they run after a restart.
command_timeout=1000

# https://github.com/starship/starship/issues/5954
[python]
python_binary = [["uv", "run", "--no-python-downloads", "--no-project", "python"]]
